<!--
Example of how to change the default angular behaviour:
- Assume that i you have created a component called 'custom-side-bar'.
- If i:
  - insert content between an opening and a closing tag of a component, example:
    .....
    <app-custom-side-bar>
      <p>{{stringToBeDisplayed}}</p>
    </app-custom-side-bar>
    .....
  - insert the directive ng-content ( ..... <ng-content></ng-content> .... ) in the html file of the custom-side-bar component.
    .....
    <div style="width: 500px; height: 500px; background-color: red">
    </div>
    .....
- The result will be that .....<p>{{stringToBeDisplayed}}</p>..... will be displayed to the user.
 -->
<div style="width: 500px; height: 500px; background-color: red">
  <ng-content></ng-content>
</div>
<button (click)="aFunction()">Button</button>
<p>{{message}}</p>
