<!-- If i:
    - Place a custom attribute directive on built-in or custom HTML element (in this example i've used the paragraph HTML element).
    abd
    - Place square brackets which contains the name of a custom property inserted in the custom attribute directive.
    I can use the a property of the custom attribute directive as a property of the built-in of custom HTML element.
-->
<p [aName]="'aValue'">In the console are printed the values of a custom HTML attribute of this paragraph HTML element.</p>
