<!-- <mat-drawer-container class="example-container" autosize>
	<mat-drawer #drawer class="example-sidenav" mode="side">
	  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
	  <button (click)="showFiller = !showFiller" mat-raised-button>
		Toggle extra text
	  </button>
	</mat-drawer>

	<div class="example-sidenav-content">
	  <button type="button" mat-button (click)="drawer.toggle()">
		Fai scomparire del tutto la sidenav
	  </button>
	</div>
  
</mat-drawer-container> -->
  <mat-sidenav-container fullscreen>
	<mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true">
	  <div class="logomain">Logo</div>
	  <mat-nav-list>
		<mat-list-item routerLink="1" routerLinkActive="active" >
		  <mat-icon mat-list-icon>person</mat-icon>
		  <div fxFlex="10"></div>
		  <div *ngIf="sidenavWidth > 6" class="sidenav-item">
			<h5 class="lead">About</h5>
		  </div>
		</mat-list-item>
		<mat-list-item routerLink="2" routerLinkActive="active">
		  <mat-icon mat-list-icon>settings</mat-icon>
		  <div fxFlex="10"></div>
		  <div *ngIf="sidenavWidth > 6" class="sidenav-item">
			<h5 class="lead">Services</h5>
		  </div>
		</mat-list-item>
		<mat-list-item routerLink="3" routerLinkActive="active">
		  <mat-icon mat-list-icon>local_phone</mat-icon>
		  <div fxFlex="10"></div>
		  <div *ngIf="sidenavWidth > 6" class="sidenav-item">
			<h5 class="lead">Contact</h5>
		  </div>
		</mat-list-item>
		</mat-nav-list>
		<button (click)="changeSidenavSize()" mat-raised-button>
			<mat-icon class="sidenav-menu">{{resizeButtonIconName}}</mat-icon>
		</button>
	</mat-sidenav>
<!-- 	<div class="example-sidenav-content">
		
	</div> -->
</mat-sidenav-container>