<!--Angular will append 'list' to the current URL (the URL present currently in browser addresses bar)-->
<button mat-raised-button routerLink="list">Go to settings/list with a relative path</button>
<!---->
<!--Angular will build an URL appending '/settings/list' to the application base URL (in this branch the application base URl is
'http://localhost:4201') and then will load this URL.-->
<button mat-raised-button routerLink="/settings/list">Go to settings/list with an absolute path</button>
<router-outlet></router-outlet>
