<h1>Settings page.</h1>
<!--If activeRouterLink directive is used when button is clicked the class which name is contained in routerLinkActive value is applied to the HTML element
which routerLinkActive directive is placed on. The class is applied until another HTML element with a routerLinkActive directive is used.-->
<button mat-raised-button routerLink="list" routerLinkActive="firstClassName">Go to settings list page</button>
<button mat-raised-button routerLink="setting" routerLinkActive="secondClassName thirdClassName">Go to setting page.</button>
<router-outlet></router-outlet>
